/* IMPORTING FONT */
@font-face {
    font-family: 'logo';
    src: url('/assets/fonts/Kalam-Regular.ttf');
}

@font-face {
    font-family: 'normal';
    src: url('/assets/fonts/SofiaSans-Regular.ttf');
}

@font-face {
    font-family: 'medium';
    src: url('/assets/fonts/SofiaSans-Medium.ttf');
}

/* GLOBAL STYLINGS */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

html,
body {
    font-size: 62.5%;
}

body {
    font-family: 'normal', sans-serif;
    background: #DDD5D0;
    color: #312F2F;
}

h1 {
    font-size: 2.5rem;
}

li,
button,
label,
input,
p {
    font-size: 2rem;
}

h2 {
    font-size: 4.8rem;
}

h3 {
    font-size: 3rem;
}

h4,
h5 {
    font-size: 2.5rem;
}

button {
    padding: 2rem 6rem;
}

.heading {
    text-align: center;
    margin-top: 3rem;
}

.heading h2 {
    font-size: 4rem;
    padding-bottom: 2rem;
}

.heading span {
    font-size: 2rem;
    color: #BB2328;
    font-weight: 500;
}


/* navbar */
.main-head {
    background: #DDD5D0;
    top: 0px;
}

nav {
    display: flex;
    width: 90%;
    margin: auto;
    padding: 2rem;
    min-height: 10vh;
    align-items: center;
    flex-wrap: wrap;
}

nav h1 {
    font-family: 'logo', sans-serif;
    font-size: 3.4rem;
    text-transform: uppercase;
    flex: 1 1 40rem;
    letter-spacing: 1px;
}

nav h1 span {
    color: #BB2328;


}

nav ul {
    display: flex;
    flex: 1 1 40rem;
    justify-content: space-around;
    list-style: none;
    list-style-type: none;
    align-items: center;


}

nav ul li {
    text-decoration: none;
}

nav ul li a {
    position: relative;
    text-transform: uppercase;
    color: #312F2F;
    text-decoration: none;
    font-size: 2.4rem;
    font-family: 'medium', sans-serif;

}

nav ul li a::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 3px;
    bottom: 0;
    left: 0;
    background: #BB2328;
    transform-origin: bottom left right;
    transition: transform 0.3s ease-out;
    transform: scaleX(0);

}

nav ul li a:hover::after {
    transform: scaleX(1);

}

nav ul li a:hover {
    color: #BB2328;
    border: none;
}

.active {

    border-left: 3px solid #1C2933;
    border-right: 3px solid #1C2933;
    border-radius: 4rem;
    padding: 0.5rem;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
}

/* HERO SECTION  */

.hero {

    background: linear-gradient(to right,
            #1C2933 0%,
            #1C2933 50%,
            #BB2328 50%,
            #BB2328 100%);
}

.text-section {

    display: flex;
    flex: 2 1 auto;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-left: 80rem;
    gap: 2rem;
    margin-top: -300px;
    padding-bottom: 5rem;

}

.text-section h3 {
    font-size: 70px;
    text-align: center;
    color: #DDD5D0;
}

.text-section p {
    font-size: 30px;
}

.text-section button {
    margin-top: 20px;
    background-color: #1C2933;
    color: #DDD5D0;
    outline: none;
    border: none;
    border-radius: 3rem;
    cursor: pointer;
}

.foto-section {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    margin-left: 10rem;
    margin-top: 1rem;
    margin-bottom: 2rem;


}

.foto-section img {
    width: 20%;
    margin-left: 20px;
    margin-top: 4rem;
    background: #DDD5D0;
    border-radius: 50%;

}

/* INTRO SECTION */

.intro-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3px;
    margin-top: 4rem;
    margin-bottom: 5rem;
    margin-right: 10rem;
}

.intro-img img {
    width: 80%;
}

.intro-text {

    padding-top: 200px;
    line-height: 4rem;
}

.info-text p {
    font-weight: 500;
    font-size: 3.4rem;
    line-height: 20px;
}

/* SKILLLS SECTION */

.skills .heading {
    background-color: #1C2933;
    color: #DDD5D0;
    padding: 20px;
    padding-top: 4rem;
    text-align: center;
    justify-content: center;
}

.skill-container {
    background: #6E1B25;
    display: grid;
    grid-template-columns: repeat(4, 0.5fr);
    gap: 3px;
    padding-bottom: 2rem;
    padding-top: 3rem;
}

.skills-box {
    padding: 10rem;
    padding-right: 35rem;
    margin: 16px;
    box-shadow: 5px 5px 14px 5px #ddd5d0;
    border-radius: 3rem;
    padding-right: 2rem;


}

.skills-box img {

    justify-content: center;
    margin-left: 1rem;
    width: 50%;
    height: 80%;
    object-fit: contain;
    align-content: center;
    margin-top: 1em;
    align-content: center;

}

.skills-box h2 {
    color: #DDD5D0;
    font-size: 30px;
    text-align: center;
    padding-bottom: 1rem;
    margin-left: -8rem;
}

.skills-box p {
    color: #DDD5D0;
    font-size: 1.7rem;
    text-align: center;
    margin-left: -8rem;
}

/* PORTFOLIO SECTION */

.progetti-container{
    min-height: 10vh;
    padding-top: 5rem;
    padding-bottom: 4rem;
}
.progetti-container p{
    text-align: center;
    font-size: 3rem;


}
.progetti-container button{
    display: flex;
    justify-content: center;
    align-content: center;
    margin-left: 60rem;
    margin-top: 4rem;
    outline: none;
    background-color: #BB2328;
    border: none;
    border-radius: 2rem;
    color: #DDD5D0;



}